<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.SDK.Analyzers" version="17.7.113" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.VSSDK.BuildTools" version="18.5.40034" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.VsSDK.CompatibilityAnalyzer" version="18.3.1108" targetFramework="net48" developmentDependency="true" />
</packages>